<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brewery Search</title>
    <style type="text/css">
    	body{

    		text-align:center;
    		background-image: url('Travel.jpg');
    		background-size: cover;
    		background-repeat: no-repeat;
            
    	}
    </style>
</head>
<body>
    
    <h1>Brewery Search by City</h1>
    <input type="text" id="cityInput" placeholder="Enter a city">
    <button id="searchButton">Search</button>
    <div id="breweryList"></div>

    <script src="main.js"></script>
</body>
</html>